html,body {
    margin: 0;
    padding: 0;
}
body {
    line-height: 1.5;
    white-space: pre-wrap;
}
@media only screen {
    body {
        margin: 2em auto;
        max-width: 1000px;
        color: rgb(55, 53, 47);
    }
}

h1,h2,h3 {
    letter-spacing: -0.01em;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 0;
}
h1 {
    font-size: 1.875rem;
    margin-top: 1.5rem;
}
h2 {
    font-size: 1.5rem;
    margin-top: 1.25rem;
}
h3 {
    font-size: 1.25rem;
    margin-top: 1rem;
}

table,th,td {
    border: 1px solid rgba(55, 53, 47, 0.09);
    border-collapse: collapse;
}
table {
    border-left: none;
    border-right: none;
}
th,td {
    font-weight: normal;
    padding: 0.25em 0.5em;
    line-height: 1.5;
    min-height: 1.5em;
    text-align: left;
}
th {
    color: rgba(55, 53, 47, 0.6);
}

.cell-title {
    overflow: hidden; max-width: 100px; white-space: nowrap;
}
.cell-NameSite {
    overflow: hidden; max-width: 120px; white-space: nowrap;
}


.selected-value {
    display: inline-block;
    padding: 0 0.5em;
    background: rgba(206, 205, 202, 0.5);
    border-radius: 3px;
    margin-right: 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    white-space: nowrap;
}

.select-value-color-uiBlue { background-color: rgba(35, 131, 226, .07); }
.select-value-color-pink { background-color: rgba(245, 224, 233, 1); }
.select-value-color-purple { background-color: rgba(232, 222, 238, 1); }
.select-value-color-green { background-color: rgba(219, 237, 219, 1); }
.select-value-color-gray { background-color: rgba(227, 226, 224, 1); }
.select-value-color-translucentGray { background-color: rgba(255, 255, 255, 0.0375); }
.select-value-color-orange { background-color: rgba(250, 222, 201, 1); }
.select-value-color-brown { background-color: rgba(238, 224, 218, 1); }
.select-value-color-red { background-color: rgba(255, 226, 221, 1); }
.select-value-color-yellow { background-color: rgba(253, 236, 200, 1); }
.select-value-color-blue { background-color: rgba(211, 229, 239, 1); }
.select-value-color-pageGlass { background-color: undefined; }
.select-value-color-washGlass { background-color: undefined; }



